/*BEGIN Base styling*/
html{
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-color:#EDEEF2;
}

/* END base styling*/

/*BEGIN Nav bar styling */
.nav-bar-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    
}

.nav-bar-wrapper .nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}

.navbar-column1{
    display:flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: flex-end;
    height: 100%;
    width: 60%;
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 0.05em;
    font-size: 12px;
}

.nav-bar-container .navbar-column2{
    display: inline;
    padding-top: 10px;
    margin-right: 10px;
}

.navbar-column1 #account-text {
    padding-top: 5px;
    margin-top: 10px;
}

.navbar-column1 #forgot-url {
    padding-bottom: 10px;
}
.navbar-column2 #sign-in-btn {
    padding: 8px 25px 8px 25px;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    font-size: 13.5px;
}


/*END nav bar section styling*/

/*BEGIN Header section styling*/
.header-logo-container {
    padding: 20px 0px;
}

.header-logo-container #main-logo {
    height: 35px;
    width: 100%;
    text-align: center;
}

/*END header section styling*/

/* BEGIN signup section styling */
.main-container {
    width: 100%;
    height: 80%;
}

.main-container .signup-widget-container {
    height: 120%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.signup-widget-container .signup-logo-container {
    list-style: none;
    height: 38px;
    padding-bottom: 4px;
    text-align: center;
}

.signup-logo-container .signup-logo {
    list-style: none;
    height: 30px;
    margin: 0px auto;
    padding-inline-start: 0px;
}

.signup-logo-container .signup-logo li{
    display: inline-block;
}

.signup-widget-container .signup-wrapper{
    padding:30px;
    margin-right:33.3%;
    margin-left:33.3%;
    margin-top:0px;
    margin-bottom: 0px;
    height:77.5%;
    text-align:center;
    width: 380px;
    background:white;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
}

/*END signup section styling*/

/*BEGIN footer styling*/

.signup-footer-container {
    height: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 0px;
    list-style: none;
}

.signup-footer-container #footer-links {
    padding-top: 5px;
    height: 10px;
}

.signup-copyright-message {
    height: 10px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

/*END footer styling section*/

/*BEGIN of form input styling*/
.singup-form {
    width: 32rem;
    padding: 3rem;
}

.form-element{
    display:block;
    margin-bottom: 2.4rem;
}

.heading-text{
    font-size: 2.4rem;
    color: #4C4C4C;
}

.signup-wrapper .subheading-signup {
    font-size: 14px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2.4rem;
}

.learn-more{
    display: block;
    text-align: center;
}

.form-element label {
    display: block;
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: 0.7rem;
    padding-left: 1.1rem;

}

.form-element input {
    border: 1px solid #c1c5c8;
    border-radius: 0.2rem;
    width: 88%;
    padding: 0.6rem 1rem;
    font-size: 1.4rem;

}

.form-element small{
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
    text-align: start;
    padding-left: 1rem;
}

.signup-btn {
    width: 95%;
    color: white;
    font-size: 1.6rem;
    background-color: #0077C5;
    border: #0077C5;
    border-radius: 4px;
    margin-top: 3rem;
    padding: 1.1rem 0rem;
}
/* END form input styling*/
