/*BEGIN Base styling*/

html{
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: #0077C5;
}
a:hover{
    text-decoration: underline;
}
body {
    height: 100%;
    width: 100%;
    background-color:#EDEEF2;
    color: #757575;
}

/* END base styling*/

/*BEGIN Nav bar styling */

.nav-bar-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 10px 30px;
    
}

.nav-bar-wrapper .nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}

.navbar-column1{
    display:flex;
    flex-direction: column;
    /*justify-content: flex-end;*/
    align-items: flex-end;
    height: 100%;
    width: 60%;
    margin-right: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 10px;
    line-height: 0.05em;
    font-size: 12px;
}

.nav-bar-container .navbar-column2{
    display: inline;
    padding-top: 10px;
    margin-right: 10px;
}

.navbar-column1 #account-text {
    padding-top: 5px;
    margin-top: 12px;
    color: #757575;
    font-weight: 500;
}

.navbar-column1 #forgot-url {
    padding-bottom: 25px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.navbar-column2 #sign-in-btn {
    padding: 8px 20px 8px 20px;
    background: #0077C5;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    color: white;
    font-size: 13.5px;
}

/*END nav bar section styling*/

/*BEGIN Header section styling*/

.header-logo-container {
    padding: 20px 0px;
}

.header-logo-container #main-logo {
    height: 35px;
    width: 100%;
    text-align: center;
}

/*END header section styling*/

/* BEGIN signup section styling */

.main-container {
    width: 100%;
    height: 80%;
}

.main-container .signup-widget-container {
    height: 120%;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.signup-widget-container .signup-logo-container {
    list-style: none;
    height: 38px;
    padding-bottom: 4px;
    text-align: center;
}

.signup-logo-container .signup-logo {
    list-style: none;
    height: 30px;
    margin: 0px auto;
    padding-inline-start: 0px;
}

.signup-logo-container .signup-logo li{
    display: inline-block;
}

.signup-widget-container .signup-wrapper{
    padding:30px;
    margin-right:33.3%;
    margin-left:35.5%;
    margin-top:0px;
    margin-bottom: 0px;
    /*height:100%;*/
    text-align:center;
    width: 32rem;
    background:white;
    border: 1px solid #c7c7c7;
    border-radius: 2px;
}

/*END signup section styling*/

/*BEGIN footer styling*/

.signup-footer-container {
    width:55%;
    margin-left: 23%;
    margin-right: 10%;
    padding: 20px 0px;
    margin-top: 14rem;
    text-align: center;

}

.signup-footer-container #footer-links {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: #757575;
    list-style: none;
    width:90%;
    font-size: 1.3rem;
}

.signup-copyright-message {
    margin-top: -0.8rem;
    font-size: 1.3rem;
}

/*END footer styling section*/

/*BEGIN of form input styling*/
.singup-form {
    width: 32rem;
    padding: 3rem;
}

.form-element{
    display:block;
    margin-bottom: 2.4rem;
}

.heading-text{
    font-size: 2.4rem;
    color: #4C4C4C;
}

.signup-wrapper .subheading-signup {
    font-size: 14px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 2.4rem;
}

.learn-more{
    display: block;
    text-align: center;
}

.form-element label {
    display: block;
    font-size: 1.4rem;
    text-align: start;
    margin-bottom: 0.7rem;
    padding-left: 1rem;
}

.form-element input {
    border: 1px solid #c1c5c8;
    font-size: 1.4rem;
    border-radius: 0.2rem;
    width: 88%;
    padding: 1rem 0.6rem 1rem 0.6rem;
}

.form-element small{
    font-size: 1rem;
    margin-top: 0.5rem;
    display: block;
    text-align: start;
    padding-left: 1rem;
}

.signup-btn {
    width: 95%;
    color: white;
    font-size: 1.6rem;
    background-color: #0077C5;
    border: #0077C5;
    border-radius: 4px;
    margin-top: 3rem;
    padding: 1.1rem 0rem;
}
/* END form input styling*/

/*BEGIN form footer styling*/
.signup-wrapper .Terms-of-service{
    font-style:italic;
    font-size: 1.2rem;
    display: block;
    text-align: center;
    padding-top: 2.5rem;
    padding-left: 2rem;
    font-weight: 400;
    color: #757575;
    width:85%;
    line-height: 2rem;
}

.signup-wrapper .recaptcha-footer {
    display: block;
    margin-top:3.2rem;
    margin-bottom: -3rem;
    margin-right: -3rem;
    margin-left: -3rem;
    background-color: #ECEEF1;
    padding: 1.6rem 3.8rem;
    font-size: 1rem;
    text-align: center;
    width: 95%;
}
/*END form footer styling*/