/* Base styling*/
html{
    font-family: AvenirNext,Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
}

/* END base styling*/

/* Nav bar styling */
.nav-bar-wrapper {
    padding: 10px 30px;
    background-color: blue;
    text-align: left;
}

.nav-bar-wrapper .nav-bar-container {
    display: block;
    float: right;
    background-color: green;
    width: 40%;
    height: 100%;
    margin: 0px 0px;
    padding: 0px 0px;
}

/*END nav bar section styling*/

/*Header section styling*/
.header-logo-container {
    padding: 20px 0px;
    background-color: #a5e5f5;
}

.header-logo-container #main-logo {
    height: 35px;
    width: 100%;
    background-color: black;
    text-align: center;
}

.signup-logo-container {
    list-style: none;
    height: 38px;
    padding-bottom: 4px;
    background-color: magenta;
    text-align: center;
}

/*END header section styling*/

/* BEGIN signup section styling */
.main-container {
    background-color: maroon;
    width: 100%;
    height: 80%;
}

.main-container .signup-widget-container {
    height: 60%;
    width: 100%;
    background-color: blueviolet;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.signup-logo-container .signup-logo {
    height: 23px;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: royalblue;
}

.signup-widget-container .signup-wrapper{
    padding:30px;
    margin-right:23%;
    margin-left:23%;
    margin-top:0px;
    margin-bottom: 0px;
    height:50%;
    background-color:black;
    text-align:center;
}

/*END signup section styling*/